<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/utils.css">
</head>
<body>
    <header>
        <div>
            <a href="index.html"><img class="logo" src="images/Screenshot 2022-08-24 at 11.12.05 PM.png" alt="logo" ></a>
        </div>
        <nav class="nav1">
            <ul>
                <li class="active" ><a href="solutions.html"><span class="texthover">Solutions</span></a></li>
                <li class="active" ><a href="resources.html"><span class="texthover">Resources</span></a></li>
                <li class="active" ><a href="/login"><span class="texthover">Login</span></a></li>
                <li class="active" ><a href="/register"><span class="texthover">Signup</span></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="image1">
                <img class="img1" src="images/bg-wave.svg">
                <img class="img2" src="images/doctor.png" height="500" width="450" >
            </div>
            <div class="content">
                <h1 class="content1"><b>Solutions for Your </b><br>
                    <b>Healthcare IT Needs</b>
                </h1>
                <button class="button-86" role="button">Hospital</button>
                <button class="button-86" role="button">Patient</button>
                <button class="button-86" role="button">Clinic</button>
            </div>
        </div>
    </main>
    <section class="cmfw product animated">
		<div class="cm-wd">
			<span class="sectionheading mar-bot40 cmfw">Our Solutions</span>
			<div class="cmfw mar-top20">
				<div class="product-col">
					<a href="hospital-management/hims.html">
						<div class="value-img cmfw hims">
							<img src="images/hospital-management.jpg" class="img-responsive">
							<span class="label">Hospital <br><span>Management</span></span>
						</div>
					</a>
				</div>
				<div class="product-row">
				  <div class="product-col">
					<a href="clinic-management/index.html">
						<div class="value-img">
							<img src="images/clinic-management.jpg" class="img-responsive">
							<span class="label">Clinic <br><span>Management</span></span>
						</div>
					</a>
				  </div>
				  <div class="product-col">
					<a href="patient-engagement/index.html">
						<div class="value-img">
							<img src="images/patient-engagement.jpg" class="img-responsive">
							<span class="label">Patient <br><span>Engagement</span></span>
						</div>
					</a>
				  </div>
				</div>

			</div>
		</div>
	</section>
    <section id="whydegree" class="cmfw animated">
        <div class="cm-wd"><span class="sectionheading">Why DailyCare360</span> <img src="images/why-charm.png" alt="Why ChARM" title="Why ChARM">
          <ul class="whydegree-list">
            <li class="dt">
              <div class="dtc"><i class="standard-icon">&nbsp;</i></div>
              <div class="whydegree-content dtc">
                <h3>Standard Driven</h3>
                <p>HIPAA and HITECH compliant. Data Centers are SASE 16 and ISO 27001 certified</p>
              </div>
            </li>
            <li class="dt">
              <div class="dtc"><i class="mobile-icon">&nbsp;</i></div>
              <div class="whydegree-content dtc">
                <h3>Mobility</h3>
                <p>Access to data on the go, anytime and anywhere from your mobile devices such as iPhones, iPads and Android</p>
              </div>
            </li>
            <li class="dt">
              <div class="dtc"><i class="secure-icon">&nbsp;</i></div>
              <div class="whydegree-content dtc">
                <h3>Data Security</h3>
                <p>256-bit encrypted data transmission ensures high level of data security. Data is encrypted at rest</p>
              </div>
            </li>
            <li class="dt">
              <div class="dtc"><i class="analytic-icon">&nbsp;</i></div>
              <div class="whydegree-content dtc">
                <h3>Affordable</h3>
                <p>Start small and grow big and you need not worry about additional software or hardware costs. No Lock-In through multi year contracts</p>
              </div>
            </li>
          </ul>
        </div>
      </section>
</body>
</html>
